*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                /* nav */
.navbar{
    background-color: #db5454;
    width: 67%;
    height: 70px;
    border-radius: 10px;
    /* margin-left: 200px; */
    position: sticky;
    top: 10px;
    margin: 0 auto;
    z-index: 1020;
}  
.navbar a{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.main-btn{
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(rgb(49, 26, 198), black);
    padding: 10px 18px;
    border-radius: 20px;
    color: rgb(255, 255, 255) !important;
    margin-left: 15px;
}
.bb{
    /* margin-left: 50px !important; */
    margin-top: 40px !important;
}
             /* hero */

.hero{
    width: 100% !important;
    height: 56vh;
    background-color: #F4F5F9;
    margin-top: 20px;
}   
.bb{
    width: 57% !important;
}          
 .bb span{
    color: #E8411D;
} 
.bb h1{
    font-family: "Urbanist", serif;
    font-size: 50px;
    font-weight: 500;
}
.bb p{
    font-size: 20px;
    /* line-break: 2px; */
} 
.hero-1{
    margin-left: 30px;
    margin-top: 10px;
}
.bd{
    width: 40% !important;
}
.bd img{
    width:100%;
    margin-left: 30px;
}

.row{
    width: 100% !important;
}
/* card */
.con{
    background-color: #FBFBFB;
    width: 100%;
    height: 480px;
}
.card{
    width: 400px;
    height: 300px !important;
    border-radius: 15px;
    margin-top: 90px;
    padding: 10px 0;
    box-shadow: 0 0 2px;
}
.aa img{
    margin-left: 10px;
}
.aa h1{
    margin-left: 10px;
}
.aa p{
    margin-left: 10px;
}

.c-1 h1{
    margin-top: 10px;
}
.aa a{
    text-decoration: none;
   border-top: 2px solid blue;
   width: 80px;
   margin-left: 10px;
}
/* about */
.about{
    width: 100%;
    height: auto;
    background-color: #FEFEFE !important;
}
.head{
    text-align: center;
    margin-bottom: 20px;
}
.head h1{
    font-size: 20px;
}
.m-1{
    display: flex;
    margin-left: 250px !important;
}
.m-1 h1{
    font-size: 30px;
    font-weight: 500;
    font-family: "Urbanist", serif;
}
.m-1 p{
    color: #6D6C79;
    font-size: 16px;
    font-weight: 400;
    font-family: "Urbanist", serif;
}
.f-1 h1{
    margin-bottom: 20px;
    margin-left: 60px;
    font-size: 40px;
    font-family: "Urbanist", serif;
    font-weight: 700;
}
.f-2 img{
    width: 100%;
    height: auto;
}
.m-1 img{
    width: 40px;
    margin-left: 60px !important;
    margin-right: 5px;
}
/* prince */
.price{
    width: 100%;
    height: 700px;
    background-color: #F7F8FA;
}
.price p{
    text-align: center;
    margin-top: 60px;
}
.price h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    font-family: "Urbanist", serif;
}
.plans{
    height: 390px;
    width: 340px;
  background-color:#fff;
  border-radius: 16px;
  border-top: 10px solid #57D288;
  padding: 10px;
  margin-top: 50px;
}
.plans img{
    margin-top: 10px;
}
.plans h2{
    color: orangered;
    text-align: center;
    font-size: 50px !important;
    margin-top: 10px;
}
.plans span{
    color: black;
    font-size: 20px;
}
.plans h4{
    text-align: center;
    font-size: 25px;
}
.plans ul{
    position: relative;
    list-style: none;
    margin-left: -18px;
}
.check img{
    position: absolute;
    right: 19px;
}
.buton{
    width: 100%;
    height: auto;
    border: 2px solid black;
    padding: 4px 12px;
    border-radius: 30px;
    text-align: center;
}
.buton a{
    text-decoration: none;
    font-family: "Urbanist", serif;
    font-size: 18px;
    color: black;
}
.p-2{
    border-radius: 16px;
    border-top: 10px solid orangered;
    
}
.p-2 .plans{
    margin-top: 3px !important;
}
.p-3{
    border-radius: 16px;
    border-top: 10px solid orange;
}
/* banner */ 
.banner{
    width: 100%;
    height: 600px;
    background-color:#F7F8FA; ;
}
.ff{
    background-color: #262343;
    margin-left: 10px !important;
}
 .imm{
    display: flex;
}
.btn a{
    margin-top: 50px !important;
    border: 1px solid white !important;
}
.textt{
    margin-top: 50px !important;
    
}
.textt h5{
    color: orangered !important;
}
.textt h1{
    color: white;
    margin-bottom: 15px;
    font-family: "Urbanist", serif;
    font-size: 50px;
    font-weight: 700;
}
.imm img{
    width: 40px;
    margin-right: 5px;
}
.te{
    color: white;
    font-size: 18px !important;
} 
/* procces */
.process{
    width: 100%;
    height: 600px;
    background-color: #F7F8FA !important;
}
.process h1{
    font-weight: 700;
    font-size: 50px;
    margin-top: 50px;
}
.w-1{
    width:22%!important;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    margin-left: 10px;
    margin-top: 60px !important;
}
.w-1{
    margin-right: 20px !important;
}
.w-1 h3{
    text-align: left;
    margin-top: 10px;
    font-weight: 700;
}
.w-1 h5{
    text-align: right !important;
    font-size: 15px;
    color: #6D6C79;
    position: absolute;
    right: 10px;
    top: 20px;
}
.w-1 p{
    text-align: left;
    margin-top: 20px;
    font-weight: 400;
}
.w-1 img{
    margin-right: 170px;
    margin-top: 30px;
    width: 100px;
}
/* cliner */
.client{
    width: 100%;
    height: 500px;
    background-color: #fff;
}
.client h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top: 40px;
}
.r-1 img{
    width: 100%;
    height: auto;
}
.r-2 img{
    width: 100%;
    height: auto;
}
/* footer */
.foot{
    width: 100%;
    height:400px;
    margin-top: 80px !important;
    background: url(./image/footer\ banner.png);
}
.y-1{
    margin-left: 40px;
    margin-bottom: 20px !important;
}
.y-1 img{
    margin-top: 50px;
}
.y-1 span{
    color: white;
}
.y-1 p{
    color: white;
    margin-top: 10px;
}
.email input{
    padding: 10px 12px;
    background:transparent;
    border: 2px solid white;
    border-radius: 30px;
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
}
.email img{
position: absolute;
left: 260px;
}
.y-2{
    margin-left:40px !important;
}
.y-2 h1{
    margin-top: 40px;
    color: white;
    font-size: 25px;
    font-family: "Urbanist", serif;
}
.y-2 span{
    color: white;
    font-size: 25px;
}
.y-2 p{
    color: white;
}

.buton img{
    margin-top: -3px;
}
